<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi</title>
</head>
<body>
    <% if (errors) { %>
        <ul>
            <% errors.split(',').forEach(el => { %>
                <li><%= el %></li>
            <% }) %>
        </ul>
    <% } %>
    <form action="/register" method="post">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br>
        <button>submit</button>
    </form>
</body>
</html>