<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add Product</title>
    <style>
        section{
            min-height: 100vh;
            padding: 0 100px;   
            margin: auto;
        }
    </style>
</head>
<body>
    <%- include('../components/navbar') %>
    <section class="my-5">
        <% if (errors) { %>
            <div class="alert alert-danger" role="alert">
                <% errors.split(',').forEach(el => { %>
                    <p><%= el %></p>
                <% }) %>
            </div>
        <% } %>
        <form action="/products/add" method="post">
            <div class="mb-3">
                <label class="form-label" for="name">product name</label>
                <input class="form-control" type="text" name="name" id="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">product description</label>
                <textarea class="form-control" rows="3" type="text" name="description" id="description"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">product price</label>
                <input class="form-control" type="number" name="price" id="price">
            </div>
            <div class="mb-3">
                <label class="form-label" for="stock">product stock</label>
                <input class="form-control" type="number" name="stock" id="stock">
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageUrl">imageUrl</label>
                <input class="form-control" type="text" name="imageUrl" id="imageUrl">
            </div>
            <div class="mb-3">
                <label class="form-label" for="CategoryId">product category</label>
                <select class="form-select" name="CategoryId" id="CategoryId">
                    <option value="">select category</option>
                    <% data.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success">Add Product</button>
        </form>
    </section>
</body>
</html>