<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>
        CRSL adalah platform e-commerce yang menghadirkan koleksi baju dari buatan lokal dengan kualitas terbaik. Kami berkomitmen untuk mendukung desainer dan merek lokal agar dapat berkembang serta menjadi pilihan utama bagi Anda yang mencari fashion lokal yang berkualitas.
    </p>
    <a href="/register">register</a>
    <a href="/login">login</a>
</body>
</html>