<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <% if (locals.user.role === 'user') { %>
        <nav>
            <a href="/products">home</a>
            <a href="/products">list product</a>
            <a href="/orders">orders</a>
            <a href="/logout">logout</a>
        </nav>
    <% } %>
    <% if (locals.user.role === 'admin') { %>
        <nav>
            <a href="/products">home</a>
            <a href="/products/add">create new product</a>
            <a href="/logout">logout</a>
        </nav>
    <% } %>
    <h1>Hello <%= locals.user.username %></h1>
    <span>role: <%= locals.user.role %></span>
</body>
</html>