a{
    text-decoration: none !important;
    color: black !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4CC00;
    gap: 50px;
    padding: 0 100px;
    min-height: 100vh;
}

.login-form{
    width: 440px;
    background: white;
    padding: 30px 40px;
    border-radius: 24px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}