@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.jumbotron{
    width: 95%;
}

.category img{
    width: 115px;
    height: 110px;
}

.card-product{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product-desc{
    width: 290px;
    height: 200px;
}
.product-desc p{
    margin-bottom: 2px;
}